<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="expires" content="">
    <meta http-equiv="ImageToolbar" content="No">
    <meta property="fb:admins" content="100001513701977" />

    <title>{{ page.title }}</title>

    <link rel="icon" href="/media/images/curso-de-arduino.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/media/images/curso-de-arduino.ico" type="image/x-icon">
    <link href="/media/stylesheets/main.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="/media/scripts/jquery-1.js"></script>
    <script type="text/javascript" src="/media/scripts/init.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </head>

  <body>
    <div class="main">
      <div class="header">
        <div class="logo">
          <a href="/"><img src="/media/images/logo_curso-de-arduino-sombreado.png"
            alt="Logotipo do Curso de Arduino" border="0" height="160"
            width="460"></a>
        </div>
        <div class="menu">
          <ul>
            <li> <a href="/belo-horizonte">Belo Horizonte</a> </li>
            <li> <a href="/rio-de-janeiro">Rio de Janeiro</a> </li>
            <li> <a href="/pesquisa">Em sua cidade!</a> </li>
          </ul>
        </div>
        <div id="social">
          <a href="http://facebook.com/CursoDeArduino"><img src="/media/images/logo_facebook-white.png"
            alt="Fan page do Curso de Arduino no Facebook" border="0"
            width="131" height="26"></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://twitter.com/turicas"><img src="/media/images/logo_twitter-white.png"
            alt="Siga o Twitter do criador do Curso de Arduino!" border="0" width="37"
            height="26"></a>
        </div>
        <div class="clr"></div>
      </div>

      <div id="slider">
        <!-- Introdução -->
        <div class="flash_slider">

          <a href="http://www.arduino.cc/"><img id="img-arduino-duemilanove"
            src="/media/images/arduino-duemilanove.png"
            alt="Arduino Duemilanove (2009)" border="0" height="138"
            width="164"></a>
          <p>
            <a href="http://arduino.cc">Arduino</a> é uma plataforma de
            <i>hardware</i> e <i>software</i> livres que simplifica a criação e
            prototipagem de projetos de robótica: é possível controlar LEDs,
            motores, eletrodomésticos, comunicar-se com computadores,
            <i>smartphones</i>, carros, dentre muitas outras possibilidades!
          </p>
          <p>
            Faça o curso mais conhecido e respeitado do Brasil e você
            <b>aprenderá na prática</b> a criar projetos de <b>automação
            residencial</b>, <b>robótica</b>, <b>ambientes interativos</b> e
            muito mais, de maneira super divertida!
          </p>
        </div>
      </div>
      <div class="clr"></div>

      <div class="slide_blog_bg">

        <!-- BLOCK PARA QUEM -->
        <div class="slide_blog">
          <img src="/media/images/para-quem.jpg" alt="Para quem?"
          height="86" width="77">
          <h3>Para quem?</h3>
          <p>
            Programadores, <i>designers</i>, <i>makers</i>, estudantes,
            artistas, engenheiros...
          </p>
        </div>
        <!-- /BLOCK PARA QUEM -->

        <!-- BLOCK ONDE -->
        <div class="slide_blog slide_bigger">
          <img src="/media/images/onde.jpg" alt="Onde e Quando?" height="86" width="150">
          <h3>Onde e Quando?</h3>
          <h4>Vagas limitadas! Inscreva-se nas próximas turmas:</h4>
          <ul class="cidades">
            <li> <a href="/belo-horizonte">Belo Horizonte</a> (5-9 setembro 2016) </li>
            <li> <a href="/rio-de-janeiro">Rio de Janeiro</a> (17-18 setembro 2016) </li>
          </ul>
        </div>
        <!-- /BLOCK ONDE -->

        <div class="slide_blog last">
          <img src="/media/images/contato.jpg" alt="contato" height="86" width="77">
          <h3>Contato</h3>
          <h4> Álvaro Justen <br> +55 21 9 9898-0141 </h4>
          <p> Fale diretamente com o instrutor:
            <br>
            <a href="mailto:alvaro&#64;cursodearduino.com.br">alvaro&#64;cursodearduino.com.br</a>
          </p>
        </div>
        <div class="clr"></div>
      </div>

      <div id="slider">
        <!-- BLOCK PAGAMENTO -->
        <div class="payment-little">
          <p>
            A inscrição para o curso pode ser dividida em até <b>12x</b> através de:
            <br />
            <img src="/media/images/formas-pagamento.png"
            alt="Formas de pagamento do Curso de Arduino" height="20"
            width="603"/>
          </p>
          <div class="clr"></div>
        </div>
        <!-- /BLOCK PAGAMENTO -->
      </div>

      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div class="body">
      <div class="body_resize">
        <!-- BLOCK BODY -->

        <div class="left last">
          <h2>Instrutor</h2>
          <h3><a href="http://blog.justen.eng.br/">Álvaro Justen (Turicas)</a></h3>
          <p>
            <a href="http://blog.justen.eng.br/" title="Ir para o Blog do
                @Turicas"><img src="/media/images/turicas.jpg"
                alt="Foto de Álvaro Justen, o Turicas" class="img-instrutor"
                border="0" width="130px"></a>
          </p>
          <p class="justificado">
            <b>Álvaro Justen</b>, também conhecido por seu apelido
            <b>Turicas</b>, é referência nacional em Arduino, tendo feito
            palestras e cursos em todas as regiões do Brasil. Trabalha como
            facilitador em cursos de robótica com Arduino e de programação com
            a <a href="http://www.python.org/">linguagem Python</a>.
            Atua como ativista e colaborador de projetos de software livre há mais
            de 12 anos.
            <br>
            Atualmente é <a
              href="https://pt.wikipedia.org/wiki/N%C3%B4made_digital">nômade
              digital</a>: vive viajando e durante suas viagens dá cursos,
            palestras, participa e organiza congressos e trabalha (remotamente)
            desenvolvendo software para empresas brasileiras e estrangeiras.
            <br>
            Quando não está dando aulas, nem programando, gosta de experimentar
            cafés especiais e pedalar.
          </p>

          <p id="instrutor-social" align="center">
            Conheça mais sobre o instrutor através de suas mídias sociais:
            <br>
            <a href="http://twitter.com/turicas"
              title="Twitter de Álvaro Justen"><img
              src="/media/images/twitter.jpg"
              alt="Logotipo [mini] do Twitter" border="0" /></a>
            &nbsp;&nbsp;
            <a href="http://blog.justen.eng.br/"
              title="Blog de Álvaro Justen"><img
              src="/media/images/blogger.jpg"
              alt="Logotipo [mini] do Blogger" border="0" /></a>
            &nbsp;&nbsp;
            <a href="http://www.github.com/turicas"
              title="Repositório de códigos Git de Álvaro Justen"><img
              src="/media/images/github.jpg"
              alt="Logotipo [mini] do GitHub"
              border="0" /></a>
            &nbsp;&nbsp;
            <a href="http://www.facebook.com/alvarojusten"
              title="Facebook de Álvaro Justen"><img
              src="/media/images/facebook.jpg"
              alt="Logotipo [mini] do Facebook" border="0" /></a>
            &nbsp;&nbsp;
            <a href="http://www.slideshare.net/turicas"
              title="Apresentações de slide de Álvaro Justen"><img
              width="22" height="22" border="0"
              alt="Logotipo [mini] do slideshare"
              src="/media/images/slideshare.png"></a>
          </p>
        </div>

        <div class="left">
          <!-- BLOCK KIT-ARDUINO -->
          <h2>Kit Arduino</h2>
          <p>
            <a href="/media/images/kit-arduino-v2.jpg"><img src="/media/images/kit-arduino-v2-thumbnail.jpg" id="thumbnail_kit" alt="Kit Arduino versão 2, super completo! (thumbnail)" width="270" height="232" border="0"/></a>
          </p>
          <div class="clr"></div>
          <p class="justificado">
            Cada dupla de alunos terá à sua disposição durante o curso um Kit
            Arduino, que possui um Arduino e vários outros componentes
            eletrônicos, incluindo LEDs, resistores, LCD 16x2, potenciômetro,
            transistores, circuitos integrados, dentre outros. Os componentes
            serão utilizados durante os exercícios em aula e no projeto que os
            alunos são convidados a desenvolver durante o curso.
          </p>
          <p class="justificado">
            Se você já tem seu Kit Arduino, leve-o para a aula e use seus
            próprios componentes!  Se ainda não tem, entre em contato após
            fazer a inscrição para ganhar um desconto na <a
              href="http://eletrogate.com/">Eletrogate</a>.
          </p>
          <!-- BLOCK /KIT-ARDUINO -->
        </div>

        <div class="left">
          <h2>Sobre o Curso</h2>
          <div id="social-do">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="http://www.facebook.com/CursoDeArduino" data-send="false" data-layout="button_count" data-width="85" data-show-faces="false" data-font="verdana"></div>

            <a href="http://twitter.com/share" class="twitter-share-button" data-text="Quer desenvolver projetos com o #Arduino? Conheça o @CursoDeArduino!" data-url="http://CursoDeArduino.com.br/" data-count="horizontal">Tweet</a>

          </div>
          <p class="justificado">
            <!-- BLOCK SOBRE-O-CURSO -->
            O
            <a href="http://www.CursoDeArduino.com.br/">Curso de Arduino</a>
            contabiliza <b>16 horas</b> (em geral) de atividades práticas,
            remetendo à teoria quando necessário (opção de cargas horárias
            diferentes sob demanda). Dentre os temas abordados, constam:
            <!-- /BLOCK SOBRE-O-CURSO -->
          </p>
          <ul>
            <li>Conceitos básicos de eletrônica</li>
            <li>Conceitos básicos de programação</li>
            <li>Portas digitais e analógicas do Arduino</li>
            <li>Aplicações em automação e robótica</li>
          </ul>
          <p align="center">
            <a href="/media/downloads/ementa_curso-de-arduino.pdf"
              title="Conteúdo programático do Curso de Arduino">Baixe o conteúdo programático</a>
          </p>
          <p align="center">
            <b>Não são necessários conhecimentos prévios de eletrônica e
              programação!</b>
          </p>
          <p>
            O curso é totalmente mão-na-massa: durante as aulas os alunos terão
            acesso a um Kit Arduino e farão vários exercícios práticos, com a
            liberdade de criar seus próprios projetos!
            <br>
            O curso conta com:
            <ul>
              <li>Aulas presenciais</li>
              <li><a href="/apostila">Apostila em PDF</a></li>
              <li>Certificado de participação</li>
              <li>Tirar dúvidas <i>online</i></li>
              <li>Desenvolver seu próprio projeto</li>
            </ul>
          </p>
        </div>


        <div class="clr"></div>
      <!-- BLOCK /BODY -->
      </div>
    </div>
    <div class="clr"></div>
    <div class="FBG">
      <div class="FBG_resize">

      <!-- BLOCK APOIO-INSTITUCIONAL -->
      <!-- BLOCK /APOIO-INSTITUCIONAL -->

      <!-- BLOCK CURSO-PERTO-DE-VC -->
      <!-- BLOCK /CURSO-PERTO-DE-VC -->
          <div class="clr"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_resize">
        <p> </p>
      </div>
    </div>
</body></html>
